.mainNav {
    display: flex;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    justify-content: space-between;
    text-align: center;
    padding-left: 20px;
    padding-top: 10px;
    color: #fff;
}

.listContact {
    display: flex;
    flex-direction: row;
}